<ul class="left-menu fixed hide-on-med-and-down teal">
  
</ul>
<div class="left-menu-toggle teal lighten-1 hide-on-large-only">
  <a href="#" style="color:white;">
    <i class="small material-icons">menu</i>
  </a>
</div>