<html>
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ head_asset|raw }}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		{% block stylesheet %}{% endblock %}
		{% block javascript %}{% endblock %}
	{% endblock %}
</head>
<body>
	{% block body %}
		{% block header %}
			<header>
			{% block navbar %}
				{% include 'navbar.twig' %}
			{% endblock %}
			</header>
		{% endblock %}
		<div class="row content">
			<div class="col s12 m4 l3">
				{% block left_menu %}
					{% include 'left_menu.twig' %}
				{% endblock %}
			</div>
			<div class="col s12 m8 l9">
				{% block content %}{% endblock %}
			</div>
		</div>
	{% endblock %}
</body>
</html>