<html>
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ head_asset|raw }}
		{% block stylesheet %}{% endblock %}
		{% block javascript %}{% endblock %}
	{% endblock %}
</head>
<body>
	{% block body %}
		<div class="uk-grid  uk-grid-collapse" style="min-height:100vh;">
			<div class="uk-width-1-4 border-right">
				{% block sidebar %}
					{% include 'sidebar.twig' %}
				{% endblock %}
			</div>
			<div class="uk-width-3-4">
				{% block header %}
					<header>
					{% block navbar %}
						{% include 'navbar.twig' %}
					{% endblock %}
					</header>
				{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>
	{% endblock %}
</body>
</html>