<html>
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ head_asset|raw }}
		{% block stylesheet %}{% endblock %}
		{% block javascript %}{% endblock %}
	{% endblock %}
</head>
<body>
	{% block body %}
		{% block header %}
			<header>
			{% block navbar %}
				{% include 'navbar.twig' %}
			{% endblock %}
			</header>
		{% endblock %}
		<div class="uk-container uk-container-center content">
			<div class="uk-grid">
				{% block left_menu %}
					{% include 'left_menu.twig' %}
				{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>
	{% endblock %}
</body>
</html>