<div class="uk-container uk-padding-remove">
<div class="uk-grid uk-grid-collapse">
	<div class="uk-width-1-1 border-bottom">
	<nav class="uk-navbar navbar">
		<div class="uk-grid uk-grid-collapse" data-uk-grid-match="">
			<div class="uk-navbar-content  uk-padding-remove uk-width-3-4">
					<form class="uk-form uk-margin-remove uk-display-inline-block">
					<div class="uk-grid uk-grid-collapse">
						<div class="uk-form-icon uk-width-9-10">
							 <i class="uk-icon-search"></i>
							<input type="text" placeholder="" class="uk-width-1-1">
						</div>
						<div class="uk-width-1-10">
							<button class="uk-button uk-button-primary">Submit</button>
						</div>
					</div>
					</form>
			</div>
			<div class="uk-navbar-content uk-padding-remove uk-width-1-4">
				<a href="#" class="uk-navbar-brand uk-navbar-flip"><img src="/asset?source=nictail.png" width="120" /></a>
			</div>
		</div>
	</nav>
	</div>
</div>
</div>
<div id="top_notification" class="uk-alert" data-uk-alert>
	<div class="uk-container uk-container-center">
		<a href='#' class="uk-alert-close uk-close uk-float-right"></a>
		<div id="top_notification_message"></div>
	</div>
</div>