<div class="uk-grid uk-grid-collapse" data-uk-sticky>
	<div class="uk-width-1-1" >
	<nav class="uk-navbar navbar">
		<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-medium-1-4 uk-hidden-small">
				{% include 'navbar-menu.twig' %}
			</div>
			<div class="uk-width-medium-3-4 uk-small-1-1">
				<div class="uk-grid uk-grid-collapse" data-uk-grid-match="">
					<div class="uk-padding-remove uk-width-large-4-5 uk-width-medium-3-5 uk-width-small-6-10">
						<div class="uk-grid uk-grid-collapse">
							<div class="uk-width-1-1">
								<form class="uk-form" style="margin-top: 5px;">
									<div class="uk-grid uk-grid-collapse">
										<div class="uk-form-icon uk-width-9-10">
											 <i class="uk-icon-search"></i>
											<input type="text" placeholder="" class="uk-width-1-1 border-flat">
										</div>
										<div class="uk-width-1-10">
											<button class="uk-button uk-button-primary border-flat">Search</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="uk-navbar-content uk-padding-remove uk-width-large-1-5 uk-width-medium-2-5 uk-width-small-4-10">
						<a href="#" class="uk-navbar-brand uk-navbar-flip"><img src="/asset?source=nictail.png" width="120" /></a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	</div>
</div>
<div id="top_notification" class="uk-alert" data-uk-alert>
	<div class="uk-container uk-container-center">
		<a href='#' class="uk-alert-close uk-close uk-float-right"></a>
		<div id="top_notification_message"></div>
	</div>
</div>
