<div id="top_notification" class="uk-alert" data-uk-alert>
	<div class="uk-container uk-container-center">
		<a href='#' class="uk-alert-close uk-close uk-float-right"></a>
		<div id="top_notification_message"></div>
	</div>
</div>
<nav class="uk-navbar navbar">
	<div class="uk-container uk-container-center">
		<a href="#" class="uk-navbar-brand uk-navbar-center"><img src="/asset?source=nictail.png" width="120" /></a>
	</div>
</nav>