<div class="uk-container uk-padding-remove" data-uk-sticky>
<div class="uk-grid uk-grid-collapse">
	<div class="uk-width-1-1 border-bottom">
		<div class="uk-container uk-padding-remove">
			<nav class="uk-navbar navbar">
				<div class="uk-grid">
				<div class="uk-width-1-1" style="text-align:center;">
					<div  class="uk-button-group" style="margin-top: 5px;" data-uk-button-radio>
						<button class="uk-button nb-badges">
							<span class="uk-icon-home uk-icon-medium"></span>
							<div class="uk-badge uk-badge-notification uk-badge-danger uk-text-small nb-badge"></div>
						</button>
						<button class="uk-button nb-badges">
							<span class="uk-icon-globe uk-icon-medium"></span>
							<div class="uk-badge uk-badge-notification uk-badge-danger uk-text-small nb-badge">99</div>
						</button>
						<button class="uk-button nb-badges">
							<span class="uk-icon-comments uk-icon-medium"></span>
							<div class="uk-badge uk-badge-notification uk-badge-danger uk-text-small nb-badge">10</div>
						</button>
					</div>
				</div>
				</div>
			</nav>
		</div>
	</div>
</div>
</div>