html, body {margin:0;padding:0;height:100%;}
body {background-color: #F9F9F9 !important;}

.navmenu-content {
	width: 300px;
}
.content {
	margin-bottom: 0 !important;
	background-color: inherit;
	height: 100%;
}

@media only screen and (max-width: 992px) {
	
}
